body {
    font-family: 'Poppins', Arial, sans-serif;
}

.title {
    font-weight: 200;
}

h2 {
    margin-top: 3rem;
}

h1, h2, h3 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

.text a {
    color: #f9ab30;
}

.heading a {
    font-weight: 600;
    color: black;
}

.bg-yellow {
    background-color: #f9ab30;
}

a.navbar-brand {
    font-weight: bold;
}

.post .title {
    font-weight: bold;
}

a:hover {
  color: #f9ab30;
}
