body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.2rem;
}

.banner {
    text-shadow: 2px 2px 4px black;
}

h2 {
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.text a {
    color: #b37a1e;
}

.heading a {
    font-weight: 600;
    color: black;
}

.bg-yellow {
    background-color: #f9ab30;
}

a.navbar-brand {
    font-weight: bold;
}

.post .title {
    font-weight: bold;
}

a:hover {
  color: #f9ab30;
  text-decoration: underline;
}

.banner {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (hover:none) {
    .banner {
        height: 50vh;
        background-size: cover;
        background-attachment: initial;
    }
}